<a href="https://colab.research.google.com/github/shade-9/python/blob/main/4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def my_function(fname,lname):
  print(fname+ " " + lname)

my_function("Amit", "Kumar")

Amit Kumar

In [1]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil","Ross")

Emil Ross

In [ ]:
def my_function(*kids):
    print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

In [2]:
def my_function(college3, college2, college1):
  print("The Best college is " + college3)

my_function("Harvard", "Yale", "Cornell")

The Best college is Harvard

In [ ]:

def my_function(country= "Norway"):
  print("I am from " + country)

my_function("Sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from Sweden
I am from India
I am from Norway
I am from Brazil

In [ ]:
def tri_recursion(k):
      if(k > 0):
        result = k + tri_recursion(k - 1)
        print(result)
      else:
        result = 0
      return result
      print("Recursion Example Results")


tri_recursion(6)

1
3
6
10
15
21

21

In [ ]:
print((lambda x: x*2) (9))

18

In [ ]:
twice = lambda x: x*2
print(twice(9))

18

In [ ]:
def my_func(string):
  Palindrome = string[::-1]
  print(Palindrome)

my_func("desserts")

stressed

In [ ]:
def is_Palindrome(s):
  if len(s)>4:
    if s[0] == s[-1]:
      return True and is_Palindrome(s[1:-1])
    else:
      return False
  elif len(s)==4:
    if s[0]==s[3] and s[1]==s[2]:
      return True
    else:
      return False
  else:
    if s[0]==s[2]:
      return True
    else:
      return False

x = str(input("Enter string to check if palindrome: "))
x = x.replace(" ",'')
if is_Palindrome(x)==True:
  print("String is a palindrome")
else:
  print('String is not a palindrome')

Enter string to check if palindrome: do geese see god
String is a palindrome

In [ ]:
num_list = []
while True:
  i = (input("Enter number or enter 'a' to end: "))
  if i == 'a':
    break
  else:
    num_list.append(int(i))
oddnumbers = list(filter(lambda x: x%2!=0, num_list))
evennumbers = list(filter(lambda x: x%2==0, num_list))

print("Odd Numbers:",oddnumbers)
print("Even Numbers:",evennumbers)

Enter number or enter 'a' to end: 1
Enter number or enter 'a' to end: 2
Enter number or enter 'a' to end: 3
Enter number or enter 'a' to end: 4
Enter number or enter 'a' to end: 5
Enter number or enter 'a' to end: 6
Enter number or enter 'a' to end: 7
Enter number or enter 'a' to end: a
Odd Numbers: [1, 3, 5, 7]
Even Numbers: [2, 4, 6]

In [ ]:
def fact(n):
  if n == 1:
    return 1
  else:
    return n*fact(n-1)

print(fact(5))
print(fact(7))
print(fact(9))

120
5040
362880