<a href="https://colab.research.google.com/github/shade-9/python/blob/main/Basics_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world")

hello world

In [ ]:
t1= 88

In [ ]:
print("hello",t1)

hello 88

In [ ]:
a=10
b=6
print("a=",a)
print("b=",b)
s=a+b
print("sum is=",s)
d=a-b
print("Difference is=",d)
p=a*b
print("product is=",p)
pow=a**b
print("pow is=",pow)

a= 10
b= 6
sum is= 16
Difference is= 4
product is= 60
pow is= 1000000

In [ ]:
name = input("Enter your name:")
print("Hello ",name)

Enter your name:suman
Hello  suman

In [ ]:
a=int(input("Enter first number:"))
b=int(input("Enter second number:"))
sum = a+b
prod = a*b
diff = a-b
print("sum",sum)
print("prod",prod)
print("diff",diff)

Enter first number:6
Enter second number:7
sum 13
prod 42
diff -1

In [ ]:
r=int(input("Enter radius of circle:"))

area = 3.14*r*r

print("Area is=", area)

Enter radius of circle:5
Area is= 78.5

In [ ]:
pr_amt= int(input("Enter principle amount:"))
r = int(input("Enter rate of interest:"))
time = int(input("Enter duration:"))

interest = (pr_amt*r*time)/100

print("Interest is =", interest)

Enter principle amount:1000
Enter rate of interest:4
Enter duration:12
Interest is = 480.0

In [ ]:
sales_amt = float(input("Enter sales amount:"))
dis_rate = float(input("Enter discount rate"))
tax = float(input("Enter the tax rate:"))

dis_amt = sales_amt - (sales_amt*dis_rate)/100

tax_amt = (sales_amt*tax)/100

final_amt = dis_amt + tax_amt

print("Final amount is =", final_amt)

Enter sales amount:900
Enter discount rate10
Enter the tax rate:18
Final amount is = 972.0

In [ ]:
deg_F = float(input("Enter temp is Fahrenheit:"))

deg_C = ((deg_F-32)/9)*5

print("Temp in Celsius =", deg_C)

Enter temp is Fahrenheit:89
Temp in Celsius = 31.666666666666664

In [ ]:
basic_sal = float(input("Enter basic salary:"))
HRA = float(input("Enter HRA amount:"))
TA = float(input("Enter TA amount"))

gross_sal = basic_sal + (basic_sal*HRA) + (basic_sal*TA)

print("Gross salary is =", gross_sal)

Enter basic salary:100000
Enter HRA amount:0.1
Enter TA amount0.05
Gross salary is = 115000.0

In [ ]:
a=int(input("Enter number 1:"))
b=int(input("Enter number 2:"))
if a > b:
  print(a, "is maximum")
else:
  print(b, "is maximum")

Enter number 1:34
Enter number 2:56
56 is maximum

In [ ]:
M1 = int(input("Enter marks of 1st student:"))
M2 = int(input("Enter marks of 2nd student:"))
M3 = int(input("Enter marks of 3rd student:"))
M4 = int(input("Enter marks of 4th student:"))
M5 = int(input("Enter marks of 5th student:"))

Mean = (M1 + M2 + M3 + M4 + M5)/5

variance = ((M1-Mean)**2 + (M2-Mean)**2 + (M3-Mean)**2 +(M4-Mean)**2 + (M5-Mean)**2)/5

print("Mean of marks is=", Mean)
print("Variance of marks is=", variance)

Enter marks of 1st student:45
Enter marks of 2nd student:67
Enter marks of 3rd student:77
Enter marks of 4th student:54
Enter marks of 5th student:39
Mean of marks is= 56.4
Variance of marks is= 195.04000000000002

In [ ]:
a = int(input("Enter 1st number:"))
b = int(input("Enter 2nd number:"))

a= a+b
b= a-b
a= a-b

print(a)
print(b)

Enter 1st number:5
Enter 2nd number:6
6
5

In [ ]:
n = int(input("Enter Number:"))

rem = n%2

if rem==0:
  print("n is even")
else:
  print("n is odd")

Enter Number:10
n is even